/*#E5F3F2 BACKGROUND
#00A79D IDEA-title, SAVE bttn,
#6D6E71 BOX-title, idea title, quality
#FFFFFF SAVE-rext
#045E55 SAVE-hover
#939598 IDEA body,
#D1D3D4 Idea divider line*/

/*BASE STYLES*/

body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: center;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: center;
  align-items: center;
  background-color: #E5F3F2;
  width: 100vw;
}

input {
  height: 25px;
  margin: 10px;
  width: 80vw;
  font-size: 15px;
  max-width: 330px;
}

.save-button {
  height: 30px;
  margin-bottom: 20px;
  color: #FFFFFF;
  background-color: #00A79D;
  text-decoration: none;
  border: none;
}

/*CARD LAYOUT*/

.editable-body {
  margin: 10px 0px;
  font-family: "Open Sans", sans-serif;
}

/*CARD RENDER SECTION*/

.idea-section {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

h1 {
  margin: 20px 5px 10px;
  color: #00A79D;
  font-size: 40px;
  font-family: "Roboto Slab", serif;
}

span {
  color: #6D6E71;
}

/*STATE CHANGES*/

.save-button:hover {
  background-color: #045E55;
}

@media screen and (min-width: 650px) {
  input, .editable-body, .idea-render, .idea-section {
    width: 50vw;
    max-width: 460px;
  }

  .idea-body {
    height: 25px;
  }

}
